h1{
  padding: 1em;
  text-align: center;
}


#calc{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5em;
}

#add{
  grid-row: 2/4;
  grid-column: 4/5
}

#zero{
  grid-column: 1/3;
}

#enter{
  grid-row: 4/6;
  grid-column: 4/5
}
