h1{
  padding: 1em;
  text-align: center;
}

#calc{
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5em;
}

#add{
  grid-row: 2/4;
  grid-column: 4/5
}

#zero{
  grid-column: 2/3;
}

#enter{
  grid-row: 4/6;
  grid-column: 4/5
}

#clear{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
}


#display{
  display: grid;
  grid-template-rows: 1fr 3em 2em;
  text-align: right;
}

#total{
  font-size: 2em;
}

#info{
  color: grey;
  margin: 1em 0;
  font-size: 0.7em;
}

#current{
  font-size: 0.85em;
  color: green;
  margin: 1em 0;
}

@media(min-width:768px){
  .calcccccc {margin: 0em 15em;}
}
@media(max-width:768px){
  .calcccccc {margin: 0em 5em;}
}
